production:
  access_key_id: 
  secret_access_key: 
  bucket: 
  endpoint:
  secure:
  private:
  verify_ssl:

development:
  access_key_id: 
  secret_access_key: 
  bucket: 
  endpoint:
  secure:
  private:
  verify_ssl:
